@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Bungee');

#header
{
    width: 100%;
    height: 15px;
    top: 0;
    left: 0;
    background: #243B4A;
    border-radius: 15px 15px 0 0;
}

#header1
{
    width: 100%;
    height: 50px;
    top: 100%;
    left: 0;
    background: #4E4D5C;
    border-radius: 0 0 0 15px;
}

#nav
{
    width: 250px;
    height: 300px;
    top: 0;
    left: 0;
    background: #2D4654;
    z-index: 2;
}

body
{
    background: url("../img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    overflow:hidden;
    color: white;
}
.dropbtn {
    background: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    z-index: 4;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    z-index: 4;
    display: none;
    position: absolute;
    background-color: #2D4654;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px 0 0 15px;
    -webkit-transition: all 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out;
}

/* Links inside the dropdown */
.dropdown-content a
{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover
{
    font-stretch: ultra-expanded;
    background-color: transparent;
    color: #4E4D5C;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content
{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn{
    background-color: transparent;
    color: #2D4654;
}


h1
{
    text-align: center;
}
#central
{
    z-index: 1;
    margin: 2% 0 25% 25%;
    height: 500px;
    background-color: #2d4654;
    opacity: 0.8;
    border-radius: 0 15px 15px 15px;

    -webkit-transition: all 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out;
}
#central p
{
    padding-left: 30px;
}

#preview
{
    z-index: 1;
    height: 0px;
    width: inherit;
    -webkit-transition: height 2s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: height 2s ease-in-out;
}
.web
{
    height: inherit;
    width: inherit;
    opacity: 1;
    background: url("../img/webprev.png") no-repeat;
    -webkit-transition: height 3s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: height 3s ease-in-out;
}
.tfe
{
    height: inherit;
    width: inherit;
    opacity: 1;
    background: url("../img/tfeprev.png") no-repeat;
    -webkit-transition: height 3s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: height 3s ease-in-out;
}
.ascii
{
    height: inherit;
    width: inherit;
    opacity: 1;
    background: url("../img/asciiprev.png") no-repeat;
    -webkit-transition: height 3s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: height 3s ease-in-out;
}
.car
{
    height: inherit;
    width: inherit;
    opacity: 1;
    background: url("../img/carprev.png") no-repeat;
    -webkit-transition: height 3s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: height 3s ease-in-out;
}
.hanged
{
    height: inherit;
    width: inherit;
    opacity: 1;
    background: url("../img/hangedprev.png") no-repeat;
    -webkit-transition: height 3s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: height 3s ease-in-out;
}
.repair
{
    height: inherit;
    width: inherit;
    opacity: 1;
    background: url("../img/repairprev.png") no-repeat;
    -webkit-transition: height 3s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: height 3s ease-in-out;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  background: #4FEF10;
}