body
{
    background-color: #000000;
    color: #4FEF10;
    font-family: "Courier New";
}

#title
{
    font-size: 80%;
    text-align: center;
}
#screen
{
    position: relative;
    font-size: 150%;
    text-align: center;
    padding-bottom: 100px;
}
#progress
{
    position: absolute;
left: 25%;
    right: 25%;
    z-index: 1;
}
#bar
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    top: -51px;
    background: transparent;
}
#txt
{
    text-align: center;
    margin-right: 50%;
    margin-left: 50%;
    position: absolute;
    margin-top: -100px;
    z-index: 1;
    background: transparent;
}
#pc
{
    position:fixed;
    bottom:0;
    left: 25%;
    right: 25%;
}

progress[value] {
    -webkit-appearance: unset;
    -moz-appearance: unset;
    border: none;
    width: 400px;
    height: 10px;
    border-radius: 3px;
}
