body
{
    background: url("../img/road/stop.gif");
    color: #aa1500;
    font-family: "Adobe Naskh Medium";
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
#msg
{
    position: fixed;
    top: 315px;
    left: 905px;
    z-index: 10;
}

a, button
{
    z-index: 5;
    text-decoration: blink;
}

#car
{
    width: 1024px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
#road
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#title
{
    font-size: 80%;
    text-align: center;
}
#screen
{
    position: relative;
    font-size: 150%;
    text-align: center;
    padding-bottom: 100px;
}
#progress
{
    position: absolute;
    left: 25%;
    right: 25%;
    z-index: 1;
}
#bar
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    top: -51px;
    background: transparent;
}
#txt
{
    text-align: center;
    margin-right: 50%;
    margin-left: 50%;
    position: absolute;
    margin-top: -100px;
    z-index: 1;
    background: transparent;
}
#pc
{
    position:fixed;
    bottom:0;
    left: 25%;
    right: 25%;
}

progress[value] {
    -webkit-appearance: unset;
    -moz-appearance: unset;
    border: none;
    width: 400px;
    height: 10px;
    border-radius: 3px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="range"],
.uneditable-input {

    display: inline-block;
    height: 16px;
    width: 100px;
    padding: 1px 1px;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[type="radio"]
{
    display: inline-flex;
}

#pimp, #typeDeBoite
{
    display: none;
}

