body
{
    background: url("../img/bg test.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: larger;
}

#details label{
    width: 30%;
    float: left;
    text-align: right;

}

#error
{
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-family: fantasy;
    margin-top: -15px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 6px 1px rgba(0, 0, 0, .1);

}

#options
{
    background-color: rgba(27, 109, 133, 0.53);
    border-radius: 16px 16px 16px 16px;
    position: fixed;
    padding-right: 15%;
    padding-left: 15%;
    top: 10px;
    height: 100px;
    text-align: center;
}



#details
{
    display: table;
    position: fixed;
    top: 200px;
    right: 25%;
}
input[type="text"],
input[type="password"]
{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#contactList
{
    margin-top: 10%;
    margin-left: 25%;
    text-align: center;
    display: inline-block;

}
#bookElement
{

}

input[type="submit"] {

    background: #30697d;
    border:0 none;
    cursor:pointer;
    height: 120%;
    width: auto;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-size: large;
}
input[type="submit"][value="Se deconnecter!"]
{
}
th
{
    color: #30697d;
}
/*
tr
{
    opacity: 0.3;
    transform: scale(1);
    transition: all 20.3s ease-in-out 0.2s;
}
 tr:hover
 {
     opacity: 1;
     transform: scale(1.4);
     transition: all 0s ease-in-out 0.1s;
 }*/
