body {
    background: url("../img/bg test closed0.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: larger;
}


#error
{
    margin-top: 5%;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-family: fantasy;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 6px 1px rgba(0, 0, 0, .1);
    padding-bottom: 15%;

}
#loginZone
{
    margin-right: 35%;
    margin-left: 35%;
}
input[type="text"],
input[type="password"]
{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*width: 100%;
    margin-left: 10px;
    float:left;

    height: 16px;
    padding: 1px 1px;*/

}
label
{
    width: 30%;
    float: left;
    text-align: right;
}
input[type="submit"]
{
    float: none;
    padding: 5px;
    margin: auto;
    -webkit-border-radius: 8px;
    border-radius: 8px;

}
input[type="submit"][value="Créer un acces"]
{
    margin-left: 15%;
}
input[type="submit"][value="Connecter"]
{
    margin-left: 15%;
}